{% extends 'RebaseMainBundle::main.html.twig' %}
{% block content %}
<div class="grid_12">
<h1>Contact us for more information</h1>
 <p>Email <a href="mailto:info@rebase.com.au">info@rebase.com.au</a> or call us on <strong>0458 553 200</strong> for prompt service<p>
</div>
{% endblock %}
