{% extends 'RebaseMainBundle::main.html.twig' %}
{% block content %}
<div class="grid_8">
  <p>Welcome to <strong>Digital Rebase</strong>, a new baseline in the integration of Man and Machine.</p>
  <p>We are committed to delivering powerful technologies centered around usability and efficiency.</p>
  <p><a href="automation.php">Automation</a> - Uniting a wide range of products and technologies, we offer building automation with easy to understand human interfaces. Including, but never limited to: Lighting, HVAC, Blinds, Multi Room Audio,  Door and Gate control, AV Installations, and Security systems.</p>
  <p><a href="services.php">Managed Services</a> - Small businesses deserve good I.T. systems. In a world of online services, you don't need to have your own in-house department to have a powerful and usable I.T. system. You'll be amazed what's possible!</p>
  <p><a href="marketing.php">Digital Marketing</a> - Get your word out into the digital world! We build and maintain websites, send emails to your customers and integrate with Social Media and Google technologies to provide you with a simple yet comprehensive web presence.</p>
</div>

<div class="grid_4">
 <div class="grid_4 alpha omega">
      <h2>More Information</h2>
      <p>Email <a href="mailto:info@rebase.com.au">info@rebase.com.au</a></p>
      <p>or call 0458 553 200</p>
      <p>On-site service throughout Melbourne, Australia.</p> 
 </div>
{% endblock %}
