{% extends 'RebaseMainBundle::main.html.twig' %}
{% block content %}
<div class="grid_8">
 <h1>Managed Services</h1>
<h2>Email Addresses</h2>
<p>Have a professional email system @yourdomain.com managed entirely offsite - Access via outlook, your mobile phone, or via a website.</p>
<h2>Office Network</h2>
<p>Have us maintain your internal network, so that you can access all of these online services quickly and reliably.</p>
<h2></h2>
</div>

<div class="grid_4">
  <h2>More Information</h2>
  <p>Email <a href="mailto:info@rebase.com.au">info@rebase.com.au</a></p>
  <p>or call 0458 553 200</p>
  <p>On-site service throughout Melbourne, Australia.</p> 
</div>
{% endblock %}
