{% extends 'RebaseMainBundle::main.html.twig' %}
{% block content %}
<div class="grid_12">
  <h1>Cloud Software</h1>
  <p>We create web based solutions to meet unique organisational needs. Secure online databases provide quick access 
  to your information wherever you are, without the need to install any software.</p>
  <p>Web based software means updates and features can be added easily without the need to visit each computer which will use the software</p>
    
  <h2>iPhone and iPad applications</h2>
  <p>The powerful ios platform allows the development of easy to use applications avaliable on the go.</p>
 
 <p>Email <a href="mailto:info@rebase.com.au">info@rebase.com.au</a> or call us on <strong>0458 553 200</strong> for prompt service<p>
</div>
{% endblock %}
