{% extends 'RebaseBigvBundle:Venue:venueBase.html.twig' %}

{% block main %}
<h1>Venue Information</h1>
 <div class="grid_16">
   <table class="tblH">
     <tr><th>ID: </th><td>{{ venue.getID() }}</td>
	 <tr><th>Name: </th><td>{{ venue.getName() }}</td>
   </table>
   <a href="{{ path('_RBV_venue_edit', { 'venueID': venue.Id}) }}">edit</a>
 </div>
{% endblock %}
