{% extends 'RebaseBigvBundle::base.html.twig' %}

{% block top %}
<div class="grid_6">Home</div>
{% endblock %}

{% block main %}
<h1>Welcome to Schkit Fixtures</h1>

<h2>Your Leagues</h2>

<div class="ialist">
  {% for p in permissions %}
    <div class="ialistitem">
      {{p.league.name}} 
        <div class="btn-group" style="float: right">
          <a class="btn btn-primary" href="{{path('_RBV_league_edit', {'leagueID':p.league.id}) }}">Settings</a>
          <a class="btn btn-primary" href="{{path('_RBV_league_index', {'leagueID':p.league.id}) }}">Open</a>
        </div>
    </div>
    <div class="clear"></div>
  {% endfor %}
</div>
  <a class="btn" href="{{path('_RBV_league_create')}}">New League</a>

{% endblock %}
