{% extends 'RebaseBigvBundle::base.html.twig' %}

{% block main %}
 
<h2>Your Leagues</h2>


  {% for p in permissions %}
    <div class="fancy-info-box">
      {{p.league.name}} 
        <div class="btn-group" style="float: right">
          <a class="btn btn-primary" href="{{path('_RBV_league_edit', {'leagueID':p.league.id}) }}">Settings</a>
          <a class="btn btn-primary" href="{{path('_RBV_context_league_set', {'leagueID':p.league.id}) }}">Open</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  {% endfor %}

  <a class="btn" href="{{path('_RBV_league_create')}}">New League</a>

{% endblock %}
