{% extends 'RebaseBigvBundle::base.html.twig' %}

{% block top %}
  <div class="grid_5">
    <p><a href="{{ path('_RBV_settings_index') }}">Settings</a> > </p>
  </div>
  <div class="grid_5">
    
  </div>
{% endblock %}

{% block main %}
  Settings Index Here
{% endblock %}
