{% extends 'RebaseBigvBundle::base.html.twig' %}

{% block main %}
<h1>Create a new Club</h1>
 <div class="grid_16">
 
 <form action="{{ path('_RBV_club_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

 </div>
{% endblock %}