{% extends 'RebaseBigvBundle:Club:clubBase.html.twig' %}

{% block pageTitle %}
Club Settings for {{club.getName}}
{% endblock %}

{% block main %}
  <form class="form-horizontal" action="{{ path('_RBV_club_edit', { 'clubID': club.getID()}) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>   
 {{ form_widget(form) }}    
      </fieldset>
      <div class="form-actions">
    <input type="submit" value="Update" />
    </div>
  </form>
{% endblock %}