{% extends 'RebaseBigvBundle::base.html.twig' %}

{% block pageTitle %}
Clubs
{% endblock %}

{% block main %}


{% for club in clubs %}

{% set CTS = club.ThisSeason() %}
<div class="fancy-info-box">
  <div class="row">
    <div class="span3"><p><strong>{{club.getName()}}</strong></p></div>
    <div class="span6">
      {% if CTS %}
        <a class="btn btn-primary" href="{{ path('_RBV_club_home', { 'cslID': CTS.getID()}) }}">Teams</a>
        <a class="btn btn-primary" href="{{ path('_RBV_club_edit', { 'cslID': CTS.getID()}) }}">Edit</a>
      {% endif %}
    </div>
  </div>
</div>

{% endfor %}
<div class="grid_5 bordered">
<a href="{{ path('_RBV_club_create') }}">Create New Club</a>
</div>
{% endblock %}