body { }
#MainContent {background: #fff;}

#TopContent a {color: #333;}


h1 + form {margin-top: 20px;}

.ialist {border: solid 1px #333333; background-color: #eee; margin-bottom: 10px;}
.ialistitem {min-height: 30px; border: solid 1px #333; margin: 10px; background-color: #fff;
padding: 10px;}
.ialistfooter {min-height: 30px; border: solid 1px #333; margin: 10px; background-color: #aaa;
padding: 10px;}

.formCollection-ul li{
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}


/* UI Datepicker */


.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; background: #fff; border: solid 1px #999;}
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; cursor: pointer;}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; text-align: center; }
.ui-datepicker td:HOVER { background-color: #E5E5E5; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: center; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

.ui-datepicker .ui-datepicker-current-day {background: #0088cc;}
.ui-datepicker .ui-datepicker-current-day a {color: #fff;}








table.tblH th {padding-right: 5px; text-align: left;}

.bordered { padding: 5px; background: #fff; border: solid 1px #666666; border-radius: 10px; margin: 10px;}
.bordered h1 {border-radius: 8px;}

table.form {}
table.form th {text-align: right; padding-right: 5px;  vertical-align: top;}
table.form td {text-align: left; vertical-align: top;}

table.calendar {}
table.calendar td {border: solid 1px #666666;} 
table.calendar td.day {min-height: 40px; width: 60px;}
table.calendar td.day div.dayLabel {padding: 3px;  }

div.roundHolder {min-height: 20px; width: 60px; position: relative;}

div.CalRoundStart {border: solid 1px #FF6600; border-radius: 8px 0 0 8px; background: #FFC; height: 16px; margin-left: 5px; border-right: none;}
div.CalRoundMid {border: solid 1px #FF6600; background: #FFC; height: 16px; border-left: none; border-right: none;}
div.CalRoundEnd {border: solid 1px #FF6600; border-radius: 0 8px 8px 0; background: #FFC; height: 16px; margin-right: 5px; border-left: none;}

div.CalRoundCol0 { background-color: #FFC;}
div.CalRoundCol1 { background-color: #9C9;}
div.CalRoundCol2 { background-color: #6CC;}

table.MATRIX td {border: solid 1px #333333;}
 
.btn2{ margin: 5px; color: #000; text-shadow: 1px 1px 1px #fff; background: url(images/gradient1.jpg); box-shadow: 1px 1px 1px #444; text-decoration: none; text-align: center; border: solid 1px #333333;  cursor: pointer; display: inline-block; padding: 6px; border-radius: 8px;}

.btn2:HOVER{ background: #66ccff}

.AutoLayout {display: inline-block; vertical-align: top; }


.homegame { background: #3CF; }
.awaygame { background: #96F; }

.want0 {background: #777;}
.want1 {background: #ffdddd; }
.want2 {background: #ffffdd; }
.want3 {background: #ddffdd; }

.CounterTeamDayHome {background: #09C;}
.CounterTeamDayAway {background: #63C;}