{% extends 'RebaseBigvBundle::base.html.twig' %}



{% block main %}
<div class="fancy-info-box">
  <h2>Venues</h2>
  {% for vsl in vsls %}
   <a class="btn btn-primary" href="{{path('_RBV_dayview_byvenue', { 'vslID': vsl.getID()})}}">{{vsl.venue.getName}}</a>
  {% endfor %}
</div>
<div class="fancy-info-box">
  <h2>Rounds</h2>
  {% for round in rounds %}
   <a class="btn btn-primary" href="{{path('_RBV_dayview_byround', { 'roundID': round.getID()})}}">Round {{round.getNumber}}</a>
  {% endfor %}
</div>
{% endblock %}
